<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="shortcut icon" href="<%= webpackConfig.output.publicPath %>favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
  <title>Fox TV Sweeps</title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.longDescription %>">
  <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
  <meta property="og:description" content="<%= htmlWebpackPlugin.options.longDescription %>">
  <meta property="og:image" content="./img/og.jpg">
  <meta property="og:site_name" content="">
  <meta property="og:type" content="video.tv_show">
  <meta property="og:url" content="">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="">
  <meta name="twitter:creator" content="@">
  <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
  <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.longDescription %>">
  <meta name="twitter:image:src" content="./img/og.jpg">


  <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="./static/favicon.ico" type="image/x-icon">
  <link rel="canonical" href="" />
  <meta name="theme-color" content="#d57c07"/>
  <link rel="manifest" href="./static/manifest.json">

</head>

<body>
  <noscript>
      <strong>We're sorry but fox-tv-sweeps doesn't work properly without JavaScript enabled. Please enable it to continue. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit beatae incidunt eos magnam sed maiores aspernatur earum accusamus officia, placeat, sint tempore maxime! Dolor odit repudiandae quibusdam vel sequi cupiditate!</strong>
    </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
